/* 
Color codes:
Storm: #112432
Jean: #5e7783
Royalty: #4d1635
Lavender: #9e91199
Soft Grey: #d0d1d3
*/

html body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#navbar {
    padding: 20px;
    background-color: #5e7783;
    font-size: 130%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1; /* I still don't understand what this is for, but I think I should still put it in. */
    justify-content: space-evenly;
}

li a {
    text-decoration: none;
    color: #d0d1d3;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    color: #112432;
}

/* Welcome! */
/* 
<section id="welcome">
    <h1>HELLO WORLD!</h1>
</section> 
*/

#welcome {
    background-color: #d0d1d3;
    height: 93vh;
}

#helloworld-text {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Projects */

#projects {
    padding-bottom: 50px;
}

#projects-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#project-text {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

a {
    text-decoration: none;
}

/* Clock */
  .clock {
    width: 30rem;
    height: 30rem;
    border: 10px solid#5e7783;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #5e7783,
      inset 0 0 10px black,
      0 0 10px #5e7783;
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: #112432;
    position: absolute;
    top: 50%;
    transform-origin: 100%; /* default: 50% --> transform origin to 100% of x axis*/
    transform: rotate(90deg); /* rotate to 12 o'clock  */
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

/* Clock */

.project-tile {
    position: relative;
    width: 50%;
  }

button {
    height: 200px;
    width: 400px;
    border: 2px dashed #5e7783;
}

.hovering {
    opacity: 0.5;
}

  /* About */

#about {
    background-color: #5e7783;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

#about-text, #about-title, a {
    color: white;
    line-height: 30px;
}

#icon-group {
    display: flex;
    justify-content: space-evenly;
}

