<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/thi-lee" target="blank">github</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Thi Le</a>
    </li>
  </ul>
</div>