<style>
    .container {
        display: flex;
        flex-direction: column;
    }
</style>
<h2>This is home</h2>
<ul style="list-style: none;">
    <li><a href="/etchasketch">Etch-a-sketch</a></li>
</ul>