<!DOCTYPE html>
<html>
    <head>
        <title>Etch A Sketch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="etch-a-sketch/assets/reset.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="etch-a-sketch/assets/main.css" media="all"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="/about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">home</a>
              </li>
            </ul>
        </header>
        <div class='title'>
            <h1>Let's Etch-A-Sketch!</h1>
            <h3>Take me to your inner artsy world...</h3>
        </div>
        <div class='main'>
            <div class='instructions'>
                <div class="slidecontainer">
                    <p><span id="demo"></span></p>
                    <input type="range" min="1" max="100" value="16" class="slider" id="myRange">
                  </div>
            </div>
            <div class='container'></div>
        </div>
        <script src="etch-a-sketch/js/scripts.js"></script>
    </body>
</html>